*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(11, 2, 40);
    color: rgb(255, 255, 255);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Rubik', sans-serif;
}
nav{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(18, 9, 56);
}
nav .left{
    margin: 6px 0 0 0;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 6px 0;
}
nav ul li{
    list-style: none;
    margin: 0px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(180, 102, 225);
}
.left{

    font-size: 1.4rem;
}
.firstSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
    width: 90%;

}
.firstSection > div{
    width: 30%;

}
.firstSection .left{
    font-size: 2.5rem;
}
.name{
    color: rgb(157, 53, 255);
    font-weight: 400;
}
button{
    border-radius: 6px;
    padding: 12px 15px;
    background-color: rgb(11, 2, 40);
    font-size: 15px;
    color: white;
    border: solid rgb(157, 53, 225);
    
}
button:hover{
    cursor: pointer;
    background-color: rgb(157, 53, 225)
}
main .social{
    margin: 50px 0;
}
main .social ul{
    list-style: none;
    display: flex;
    padding: 0px;
}
main .social ul li{
    margin: 0px 20px 0 0;
}
.github button{
    padding: 0.8em 22px;
}

.firstSection .right {
    margin: 0px 0px 0 0;
}

.firstSection .right img{
    width:130%;
    
}
#element{
    color:rgb(157, 53, 255);
}
.secondSection{
    max-width:80vw ;
    margin: auto;
    padding: 0px 0px 100px 0px;
}
main hr{
    border: 0;
    background: rgb(153, 0, 255);
    height: 1px;
    margin: 80px 80px;
}
.secondSection h1{
    font-size: 1.5rem;
}

footer{
    background-color:rgb(18, 9, 56);
    
}
.footer{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;

}
.footer ul{
    list-style: none;
}
.footer a{
    text-decoration: none;

}
.footerFirst h5{
    padding: 2px 0;
}
.footerFirst p{
    color: grey;
    margin: 0px;
}
footer hr{
    border: 0px;
    height: 1px;
    background-color: grey;
    margin: 80px 80px;
}
.rights{
    text-align: center;
    padding: 20px;
    color: grey;
   
}
footer .social ul{
    list-style:none;
    display: flex;
    justify-content: center;
}
footer .social ul li{
    list-style: none;
    text-decoration: none;
    padding: 0px 15px;
}
.social ul li a{
    text-decoration: none;
    color: white;
}